.divbottom li {
    width:200px;
}
.divbottom li a {
    width:170px;
    background-color:white;
}
.divbottom .tabs-panels {
    border:none;
}
.divtop {
    line-height:50px;
}
.of1 {
    height:27px;
    border:1px solid #95B8E7;
    display:block;
    width:128px;
    line-height:27px;
    text-align:center;
}
.tb1 {
    width:1030px;
    border-spacing:0px;
    margin:1px 0;
}
    .tb1 .t3 td {
        border-top:1px solid #95B8E7;
    }
    .tb1 .t4 td {
        border-bottom:1px solid #95B8E7;
    }
.borderleft {
    border-left:1px solid #95B8E7;
    
}
    .borderleft span {
        color:darkblue;
    }
#e3 {
    color:darkblue;
}
.borderright {
    border-right:1px solid #95B8E7;
}
.mcl {
    font-size:16px;
    color:#ff6a00;
    font-weight:bold;
}