
/*----banner-----*/
.banner {
    width:100%;    
}
.banner img {
    width:100%;
}




.swiper-container
        {
            width:60%;
            height:290px;
            }
.swiper-slide
        {
            height:470px;
            width:500px;
            text-align:center;
            background:#fff; 
            
            }  
.banner .swiper-slide   
{
    background-size:cover;
    }

.banner .swiper-slide-bg-1 {
   background-size:cover;
    background-image: url('image/T){YV~N)7~3{3H]K}RUY($6_02.gif');
}
.banner .swiper-slide-bg-2 {
   background-size:cover;
     background-image: url('image/T){YV~N)7~3{3H]K}RUY($6_04.gif');
}
.banner .swiper-slide-bg-3 {
    background-size:cover;
    background-image: url('image/T){YV~N)7~3{3H]K}RUY($6_06.gif');
}