.da{
    width:100%;
    height:1000px;
}
.yu {
    height:900px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:40px;
    background-color:darkgray;
}
.gh{
    width:93%;
    height:100px;
    margin-right:3%;
    margin-left:2%;
    background-color:white;
}
.hf{
    width:55%;
    height:50px;
    margin-top:5px;
    background-color:white;
}
.fh{
    width:93%;
    height:200px;
    margin-top:5px;
    margin-left:2%;
    background-color:white;
}
.du{
    width:93%;
    height:300px;
    margin-top:5px;
    margin-left:2%;
    background-color:white;
}
.lp{
    width:93%;
    height:200px;
    margin-top:5px;
    margin-left:2%;
    background-color:white;
}
.ij {
    width:50px;
    height:80%;
    margin-left:40px;
    margin-bottom:5px;
    margin-top:5px;
    float:left;
}
.dii {
    margin-top:5px;
} 
.ij img{
    width:100%;
    height:100%;
}
.kl{
    text-align:center;
}
.kj {
    float:right;
}                                                                                            
.dh{
    border:1px solid gray;
    float:left;
    width:85%;
}
.gup{
    width:20%;
    height:100%;
    font-size:18px;
    text-align:center;
    border-left-color:darkblue;
    border-right-style:dashed;
    display:block;
    float:left;
    text-align:center;
}
.sui{
    width:75%;
    height:100%;
    display:block;
    float:left;
}
.fji{
    width:60%;
    height:20%;
}
.ji{
    width:80%;
    height:42%;
}
.j2{
    width:80%;
    height:42%;
}
.b1{
    width:78%;
    height:128px;
}
.b2{
    width:78%;
    height:88px;
    float:left;
    border:0px;
}
.item{
    display:inline-block;
    width: 80px;
    margin-left: 15px;
    position: relative;
}
.im
{
    width: 70px;
    height:50px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.ic
{
    position: absolute;
    right: -10px;
    top: -10px;
    color: Red;
    width:20px;
    height:20px;
    font-size: 20px;
    background-color: White;
    border-radius: 20px;
    margin: 3px;
}
#btnimage{
    display:inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-image: url(images/test.jpg);
    background-size: cover;
    position: relative;
}
.submit {
    width:100%;
    text-align:center;
    font-size:24px;
}
.qwe{
    height:40px;
    width:100%;
    margin-top:30px;
    background-color:white;
    margin-top:80px;
}
.dy{
    width:100%;
    height:80%;
    background-color:darkgray;
}
.gy{
    text-align:center;
    line-height:30px;
}
.boxthree {
    width:100%;
    height:20px;
    border-style:solid;
    border-color:gray;
    background-color:darkgray;
    margin-top:2%;
    font-size:18px;
}
.l{
    float:left;
    height: 100%;
    width: 15%;
}
.c{
    float:right;
    width:10%;
    height:100%;
}
a{
    text-decoration:none;
}
.red{
    background-color:red;
}