.da{
    width:100%;
    height:1300px;
}
.yu {
    height:900px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:40px;
    background-color:darkgray;
}
.gh{
    width:94%;
    height:90px;
    margin-right:3%;
    margin-left:3%;
    border:1px dotted darkgray;
    display:block;
    background-color:white;
}
.hf{
    width:94%;
    height:50px;
    margin-left:3%;
    margin-top:5px;
    background-color:white;
    line-height:50px;
}
.fh{
    width:94%;
    height:200px;
    margin-top:5px;
    margin-left:3%;
    background-color:white;
}
.du{
    width:94%;
    height:300px;
    margin-top:5px;
    margin-left:3%;
    background-color:white;
}
.dui{
    height:20%;
}
.lp{
    width:94%;
    height:200px;
    margin-top:5px;
    margin-left:3%;
    background-color:white;
}
.ij {
    width:150px;
    height:100px;
    margin-left:40px;
    /*margin-bottom:5px;
    margin-top:5px;*/
    float:left;
    background-color:blue;
}
.ij img{
    width:100%;
    height:100%;
}
.kl{
    text-align:center;
}
.kj {
    float:right;
}                                                                                            
.dh{
    border:1px solid gray;
    float:left;
    width:85%;
}
.gup{
    width:15%;
    height:100%;
    font-size:18px;
    text-align:center;
    border:0.5px grey;
    border-right-style:dashed;
    display:block;
    float:left;
    text-align:center;
}
.sui{
    width:80%;
    height:100%;
    display:block;
    float:left;
}
.fji{
    width:95%;
    height:30%;
}
.lk{
    float:left;
    width:15%;
    height:100%;
}
.dt{
    display:block;
    float:left;
    width:80%;
    height:100%;
}
.ji{
    width:80%;
    float:left;
}
.zy{
    float:left;
    margin-left:20px;
}
.ddd {
    float:left;
    width:80%;
    height:60px;
}
.ji{
    width:80%;
    height:40%;
}
.j2{
    width:80%;
    height:30%;
}
.b1{
    width:78%;
    height:100px;
    font-size:30px;
}
.b2{
    width:78%;
    height:60px;
    float:left;
    border:0px;
    font-size:30px;
}
.item{
    display:inline-block;
    width: 80px;
    margin-left: 15px;
    position: relative;
}
.im
{
    width: 80px;
    height:50px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.ic
{
    position: absolute;
    right: -10px;
    top: -10px;
    color: Red;
    width:20px;
    height:20px;
    font-size: 20px;
    background-color: White;
    border-radius: 20px;
    margin: 3px;
}
#btnimage{
    display:inline-block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(images/test.jpg);
    background-size: cover;
    position: relative;
}
.submit {
    width:100%;
    text-align:center;
    font-size:24px;      
}
.qwe{
    height:40px;
    width:100%;
    margin-top:30px;
    background-color:white;
    margin-top:80px;
}
.dy{
    width:100%;
    height:80%;
    background-color:darkgray;
}
.gy{
    text-align:center;
    line-height:30px;
}
.boxthree {
    width:100%;
    height:20px;
    border-style:solid none;
    background-color:darkgray;
    margin-top:2%;
    font-size:10px;
}
.l{
    float:left;
    height: 100%;
    width:50%;
}
.c{
    float:right;
    width:10%;
    height:100%;
}
a{
    text-decoration:none;
}

.tuq{
    width:100px;
    height:100px;
    float:left;
}

