#Head{

}
.Head_log {
    float: left;
    width: 110px;
    height:84px;
    background-image: url('../Head/images/log.png');
    background-size:cover;
    margin-right:150px;
}
.Head_search{
    width:40%;
    height:35px;
    border-radius:7px;
    float:left;
}
 /*.Head_search input{

    border-style:none;
    height:33px;
    width:93%;
    float:left;
    border-radius:7px;
    outline:none;
}*/

/*.Head_search a{
    background-color:#a4cbff;
    background-image: url(/Head/images/search.gif);
    background-size:cover;
    display:block;
    width:7%;
    height:35px;
    float:right;
}*/

.phone{
    width:28%;
    margin-top:10px;
    margin-left:20px;
    color:#787878;
    float:left;
}
#nav {
    display:inline-block;
    height:45px;
    width:100%;
    background-color:#2577e3;
    font-weight:bold;
    font-family:"黑体";
    color:white;
    font-size:30px;
    position:relative;
}

#nav .item
{
    text-align:center;
    line-height:45px;
    margin-left:20px;
    width:150px;
    float:left;
    color:white;
    text-decoration:none;
}
#nav ._item
{
    margin-left:200px;
}
#nav div
{
    text-align:center;
    font-size:30px;
    width:200px;
    height:45px;
    background-color:#ff9913;
    margin-left:200px;
    position:absolute;
    right:20px;
}
#nav div a{
    color:white;
    text-decoration:none;
}
.item:hover
{
    background-color:#0a56bb;
}
#Headbim{
    background-image:url(/Head/images/head.png);
    width:100%;
    height:100px;
}
#Headbim div{
    margin-top:20px;
}

#ttt{
    margin-top:700px;
}
#qbody{
    display:none;
    z-index:20;
    width:402px;
    height:200px;
    background-color:white;
    position: absolute;top:50%;left:50%;margin-left:-201px; margin-top:-100px;
}

.incss
{
    width:260px;
    padding:12px;
}
.bdiv{
    margin-bottom:20px;
}
#btnlogin
{
    padding:0px 0px;
    width:70px;
    /*text-align:center;
    width:70px;
    height:28px;*/
    position: absolute;top:50%;left:50%;margin-left:-35px; margin-top:45px;
}
#btnclose{
    width:18px;
    height:18px;
    /*color:#aeaeae;*/
    border:1px solid #aeaeae;
    font-size:20px;
    color:#aeaeae;
    position: absolute;
    right:5px;
    top:3px;
    text-align:center;
    line-height:18px;
}

/*附加*/
.fadd{
    position:relative; 
    top:-20px;
    border:solid #baafaf 1px;
    background-color:#f5eeee;
    /*display:none;*/
    
}
.fadd ul{
    
}
.fadd ul li{
    list-style:none;
    margin-top:13px;
}


/*悬浮*/
a, img {
            border: 0;
        }
        /* leftsead */
#leftsead {
    width:131px;
    height:143px;
    position:fixed;
    top: 245px;
    right: 50px;
}
#leftsead li {
    width: 131px;
    height: 60px;
    list-style:none;
}

#leftsead li img {
    float: right;
}

#leftsead li a {
    height: 49px;
    float: right;
    display: block;
    min-width: 47px;
    max-width: 131px;
}

#leftsead li a .shows {
    display: block;
}

#leftsead li a .hides {
    margin-right: -143px;
    cursor: pointer;
    cursor: hand;
}

#leftsead li a.youhui .hides {
    display: none;
    position: absolute;
    right: 190px;
    top: 2px;
}
#resetpassword{
    text-decoration:none;
    color:#aeaeae;
    position: absolute;
    right:70px;
    top:150px;
}