#log{
    font-size:14px;
    color:#aeaeae;
}
.lname{
    float:left;
    text-align:right;
    width:20%;
    margin-top:15px;
}
.rinf{
    float:left;
    text-align:left;
    margin-left:20px;
    margin-top:15px;
    width:70%;
}
.submit{
    font-size:15px;
    padding:3px;
}
.photo{
            width: 100px;
            height: 100px;
            border: 2px solid #DBDBDB;
            background-size: cover;
            position: relative;
        }