
#bd {
    width:960px;
    height:734px;
    margin-top: 10px;
    border-top: 1px solid #dfdfe0;
    position: relative;
}
#bd, #ft {
    width: 960px;
    margin: 10px auto 0;
    clear: both;
}
.yi {
    width :960px;
    height :224px;
    border-style:solid;
    border-width :0px 1px 1px 1px;
    border-color:#dfdfe0;
}
.er {
    width :960px;
    height :76px;
    border-style: solid;
    border-width :0px 1px 1px 1px;
    border-color:#dfdfe0;
}
.san {
    width :960px;
    height :113px;
    border-style: solid;
    border-width :0px 1px 1px 1px;
    border-color:#dfdfe0;
}
.si {
    width :960px;
    height :76px;
    border-style: solid;
    border-width :0px 1px 1px 1px;
    border-color:#dfdfe0;
}
.wu {
    width :960px;
    height :39px;
    border-style: solid;
    border-width :0px 1px 1px 1px;
    border-color:#dfdfe0;
} 
h2 {
    width:120px;
    float:left ;
    padding-top:8px;
    padding-left:10px;
}
ul{
        float:left ;
        list-style-type:none;
        padding:0px; 
        margin:0px; 
        width:830px;
        border :none ;
    }
li
    {
        display:inline; 
        width:166px; 
        height:37px;  
        float :left ;
}
li a {
        width:125px; 
        height:20px; 
        float:left ;
        border:none;
        margin-top:10px;
    }
ul li a:hover
{
     background:#7CCD7C; 
     border-radius:5px; 
     color:#ffffff;  
}
ul li a:link,ul li a:visited
    {
        font-size:15px;
        text-align:left;
        text-decoration:none;
        color:#5CACEE;
    }