.itemdiv{
    width:300px;
    height:190px;
    float:left;
    margin:10px 10px;
    color:#787878;
}
.itemdiv input{
    display:none;
}
.imagediv {
    
    width: 300px;
    height: 150px;
    background-size:cover;
}
.tipdiv{
    font-size:14px;
}
.spandiv{
    width:24px;
    float:left;
    margin-right:24px;
}
.spano{
    color:red;
}
.taildiv div span
{
    display:inline-block;
}
.moneydiv{
    float:right;
    color:red;
    font-size:25px;
}
