<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
     
     
    <!--该配置项用告知于抽象工厂因该使用具体的工厂对象（sql or access)-->
    <add key="DbHelperProvider" value="System.Data.SqlClient"/>
   
  </appSettings>
  <connectionStrings>
    <!--server-->
    <add name="ConnectionString" connectionString="Data Source=192.168.0.109;database=travelweb;uid=sa;pwd=7;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Provider = Microsoft.ACE.OLEDB.12.0 ;data source=C:\Users\panxie\Desktop\code sample\Framework\Design Model\AbstractFactory\DBProviderFactory\FactorySample\App_Data\test.mdb"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  
  </system.web>
  <!--<appSettings>
    <add key="connectionString" value="Persist Security Info=False;User ID=sa;Initial Catalog=SHGP;Data Source=HANKER-PC;password=hanhan"/>
  </appSettings>-->
</configuration>