     .w{
            font-size:5rem;
        }
        .q{
            width :101px;
            height:101px;
            text-align:center;
            float:left;
            border:solid #ff6a00 1px;
            position:relative;
        }
        .a{
            position:absolute;
            left: 90px;
            top:-8px;
            display:none;
            color:red;
        }


#images
{
    margin-top: 20px;
}
.item
{
    display: inline-block;
    width: 22%;
    margin-left: 2%;
    position: relative;
}
.im
{
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.ic
{
    position: absolute;
    right: -10px;
    top: -10px;
    color: Red;
    font-size: 20px;
    background-color: White;
    border-radius: 20px;
    margin: 3px;
}

#btnimage
{
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 70px;
    margin: 0 auto;
}
#btnEnter
{
    display:inline-block;
    line-height:40px;
    width:100%;
    height:40px;
    text-align:center;
    background-color:#fd3f3f;  
    margin-bottom:20px;
    color:white;  
    font-size:1.8rem;
    POSITION:absolute; 
    left:0; 
    bottom:-70px; 
    z-index:2;
}


