body {
}
.yi {
    height:320px;
    width:1366px;
    border-style:solid;
    border-color:gray;
    margin-left:5px;
    margin-right:5px;
}
.first {
    width:400px;
    height:250px;
}
.first img{
    width:100%;
    height:100%;
}
img.mid {
    height:48px;
    width:80px;
}
img.small{
    height:30px;
    width:50px;
    margin:5px;
}
.leftbox{
    height:268px;
    width:450px;
    display:block;
    float:left;
}
 .leftbox div {
    padding:5px;
}
.centerbox{
    height:268px;
    width:700px;
    display:block;
    float:left;
}
.centerbox div{
    padding:5px;
}
.rightbox {
    height:260px;
    width:150px;
    display:block;
    float:left;
}
.rightbox div{
    padding:5px;
}
.r{
    color:dodgerblue;
}
.q{
    background-color:gainsboro;
    margin-left:5px;
}
.downbox{
    width:1366px;
    height:580px;
    background-color:gainsboro;
    margin-left:5px;
    margin-right:5px;
    margin-top:18px;
}
.s{
    float:right;
}
.circle{
    float:left;
    margin-top:0px;
    margin-left:5px;
}
.price{
    margin:5px;
    color:red;
    background-color:green;
}
.textbox1 {
    height:130px;
    width:300px;
}
.textbox2{
    height:90px;
    width:300px;
}
.textbox3{
    height:50px;
    width:300px;
    margin-left:5px;
    margin-right:5px;
}
.e{
    width:650px;
    height:300px;
    display:block;
    float:left;
    border-style:solid;
    border-color:gainsboro;
}
.j1{
    width:360px;
    height:130px;
    background-color:white;
}
.j2{
    width:360px;
    height:90px;
    background-color:white;
}
.j3{
    width:360px;
    height:50px;
        background-color:white;
}
.tx1{
     border-color:gainsboro;
    width:60px;
    height:130px;
    border-style:solid;
    text-align:center center;
}
.tx2{
     border-color:gainsboro;
    width:60px;
    height:90px;
    border-style:solid;
    text-align:center;
}
.tx3{
    border-color:gainsboro;
    float:left;
    width:60px;
    height:50px;
    border-style:solid;
    text-align:center;
}
.f{
    margin:10px;
}
.submit {
    float:left;
    position:absolute;
    left:500px;
    background-color:red;
}
.boxthree {
    height:20px;
    width:1366px;
    border-style:solid;
    background-color:gainsboro;
}
.l{
    float:left;
}
.c{
    float:right;
}
a{
    text-decoration:none;
}
/* 灰色背景星星5个平铺 */
.star_bg {
    width: 200px; height: 50px;
    background:url(/judge/images/star.jpg) repeat-x;
    position: relative;
    overflow: hidden;
}
/* 这是5个小星星们的默认状态的定位 */
.star {
    height: 40px; width: 40px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star_1 { left: 0; }
.star_2 { left: 40px; }
.star_3 { left: 80px; }
.star_4 { left: 120px; }
.star_5 { left: 160px; }

/* 鼠标hover效果实现，分别显示背景与定宽 */
.star:hover {    
    background:url(/judge/images/star.jpg) repeat-x 0 -20px;
    left: 0; z-index: 2;
}
.star_1:hover { width: 40px; }
.star_2:hover { width: 80px; }
.star_3:hover { width: 120px; }
.star_4:hover { width: 160px; }
.star_5:hover { width: 200px; }